#show{
  display: none;
  text-align: center;
  background-color: #8a0303;
  color: white;
}

#show2{
  display: none;
  text-align: center;
  background-color: #8a0303;
  color: white;
  height: 180px;
}

#show2-p{
  margin-bottom: 0;
}

#garlic-button{
 background-color: black
}

h1{
  font-family: 'Creepster', cursive;
  font-size: 5rem;
  margin-bottom: 0;
  line-height: 65px;
}
h2{
  font-family: cursive;
  font-style: italic;
}

h3{
  font-family: 'Creepster', cursive;
  font-size: 1.7rem;
}

.header{
  background-color: #8a0303;
  color: white;
  text-align: center;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}


#half{
  font-family: 'Creepster', cursive;
  font-size: 3rem;
}

#submit-button{
  background-color: #8a0303;
}

#size-div{
  margin-bottom: 35px;
  position: relative;
}

#sauce-div{
  margin-bottom: 35px;
  position: relative;
}

#veggies-div{
margin-bottom: 35px;
}

#button-div{
  margin-bottom: 35px;
}

#floating-pizza{
  height: 50px;
  width: auto;
  float: right;
  top: 300px;
}

#blood{
  position: absolute;
  height: 370px;
  width: auto;
  left: 420px;
  z-index: -1;
}
#blood2{
  position: absolute;
  height: 250px;
  width: auto;
  left: 150px;
  z-index: -1;
  transform: scaleX(-1);
}
#blood-hide{
  display: none;
}

.container{
  position: relative;
}

#result-span{
    font-family: 'Creepster', cursive;
}
p{
  font-size: 2rem;
}

#size{
  width: 300px;
  padding-top: 34px;
}
#sauce{
  width: 400px;
}

#price-p{
  font-family: 'Creepster', cursive;
  font-size: 4rem;
  margin-bottom: 0;
}

#div-container{
  margin-bottom: 20px;
}

#discount-dracula{
  height: 300px;
  width: auto;
  float: left;
  margin-right: 30px;
  left: 750px;
  top: 300px;
}

#rotating-pizza1{

}
#rotating-pizza1{

}
